#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 3em;
  padding: .5em;
  background-color: #434a39;
  border-radius: 16em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin: 1em;
  padding: 1em;
  background-color:#434a39c0;
  border-radius: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.card:hover{
  filter: drop-shadow(0 0 2em #899279aa);
}
.card.react:hover{
  filter: drop-shadow(0 0 2em #899279aa);
}

.imgCard{
  margin: 1em;
  background-color: #434a39c0;
  border-radius: 1em;
}
.imgCard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.containerList{
  display: grid;
  grid-template-columns: auto auto;
}
/*.container div {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}*/